# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

#Other Files
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin
obj
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/